.employee {
    background: url("../thumbs/employee.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .blog-1 {
    background: url("../thumbs/blog-1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .blog-2 {
    background: url("../thumbs/blog-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .blog-3 {
    background: url("../thumbs/blog-3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .blog-4 {
    background: url("../thumbs/blog-4.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .blog-5 {
    background: url("../thumbs/blog-5.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .dice {
    background: url("../thumbs/dice.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .flashcards-1 {
    background: url("../thumbs/flashcards-1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .flashcards-2 {
    background: url("../thumbs/flashcards-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .flashcards-3 {
    background: url("../thumbs/flashcards-3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .flashcards-4 {
    background: url("../thumbs/flashcards-4.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .flashcards-5 {
    background: url("../thumbs/flashcards-5.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .flashcards-6 {
    background: url("../thumbs/flashcards-6.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .clock-1 {
    background: url("../thumbs/clock-1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .clock-2 {
    background: url("../thumbs/clock-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .clock-3 {
    background: url("../thumbs/clock-3.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .clock-4 {
    background: url("../thumbs/clock-4.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  .clock-5 {
    background: url("../thumbs/clock-5.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .art {
    background: url("../thumbs/art.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .memory {
    background: url("../thumbs/memory.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .flex-cv {
    background: url("../thumbs/flex-cv.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .portfolio-retro {
    background: url("../thumbs/portfolio-retro.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .high-five {
    background: url("../thumbs/high-five.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .hookd {
    background: url("../thumbs/hookd.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  
  .family {
    background: url("../thumbs/family.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
  }
  